@charset "utf-8"
/* CSS Document*/

.Foto-banner {
    width: 1919px;
    height: 341px;
    object-fit: contain;
}

.Obrigado-pela-visita-D-Agora-voc-j-esta-preparado-para-fazer-o-download-do-nosso-material-Clique-no-boto-abaixo-e-aproveite-esse-contedo-e-no-esquea-de-dar-uma-olhada-nas-nossa-dicas-referente-a-esse-universo-digital-D {
    width: 1906px;
    height: 196px;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Obrigado-pela-visita-D-Agora-voc-j-esta-preparado-para-fazer-o-download-do-nosso-material-Clique-no-boto-abaixo-e-aproveite-esse-contedo-e-no-esquea-de-dar-uma-olhada-nas-nossa-dicas-referente-a-esse-universo-digital-D .text-style-1 {
    font-size: 30px;
    font-weight: bold;
}

.Noticia-1 {
    width: 301px;
    height: 227px;
    object-fit: contain;
}

.Noticia-2 {
    width: 302px;
    height: 227px;
    object-fit: contain;
}

.Noticia-3 {
    width: 303px;
    height: 227px;
    object-fit: contain;
}

.Art-board-1 {
    width: 1920px;
    height: 1978px;
    background-color: #ffffff;
}

.Noticia-4 {
    width: 301px;
    height: 227px;
    object-fit: contain;
}

.Noticia-5 {
    width: 302px;
    height: 227px;
    object-fit: contain;
}

.Noticia-6 {
    width: 303px;
    height: 227px;
    object-fit: contain;
}

.Noticia-2 {
    width: 649px;
    height: 288px;
    object-fit: contain;
}

.Agora-voc-j-esta-preparado-para-fazer-o-download-do-nosso-material-Clique-no-boto-abaixo-e-aproveite-esse-contedo-e-no-esquea-de-dar-uma-olhada-nas-nossa-dicas-referente-a-esse-universo-digital-D {
    width: 298px;
    height: 278px;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

{
    width: 46px;
    height: 78px;
    font-family: Metropolis;
    font-size: 78px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: -1.56px;
    text-align: left;
    color: #4b4fa1;
}

.Digital {
    width: 212px;
    height: 75px;
    font-family: Metropolis;
    font-size: 75px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.Digital .text-style-1 {
    color: #4b4fa1;
}